{% extends "plantilla.html" %}

{% block content %}
<iframe width="560" height="315" src="https://www.youtube.com/embed/dI6ddWgja9s?si=59cvKHhJ8w9wHJRv" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
{%endblock%}

{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('button').addEventListener('click', function() {
           window.open("https://www.youtube.com/watch?v=f-y1hW4fTxg")
        });
    });
</script>
{% endblock %}