{% extends "plantilla.html" %}

{% block content %}

<iframe width="560" height="315" src="https://www.youtube.com/embed/cSkoSvomXXY?si=ClyabRbt59rLLJAS" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

{%endblock%}

{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('button').addEventListener('click', function() {
            var iframe = document.getElementById('quiz');
            var quizUrl = "https://www.goconqr.com/p/3876326/question/2038378-acidos-carboxilicos-quizzes";
            iframe.src = quizUrl;
            iframe.style.display = "block"; // Mostrar el iframe
            document.getElementById('button-container').style.display = "none"; // Ocultar el contenedor del botón
        });
    });
</script>
{% endblock %}