{% extends "plantilla.html" %}

{% block content %}

<iframe width="560" height="315" src="https://www.youtube.com/embed/4nb_Ks1E6rI?si=b9JYKVHb2CqQAF1e" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

{%endblock%}

{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('button').addEventListener('click', function() {
            window.open("https://www.youtube.com/watch?v=IQ9kDtbwoaw")
        });
    });
</script>
{% endblock %}