{% extends "plantilla.html" %}

{% block content %}
<iframe width="560" height="315" src="https://www.youtube.com/embed/wxcFaTPi03Y?si=TkLavPmYWYCNMlbR" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

{%endblock%}

{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('button').addEventListener('click', function() {
            var iframe = document.getElementById('quiz');
            var quizUrl = "https://wordwall.net/es/embed/6d0dd50119a142ee83c8c16a371f393c?themeId=21&templateId=69&fontStackId=0";
            iframe.src = quizUrl;
            iframe.style.display = "block"; // Mostrar el iframe
            document.getElementById('button-container').style.display = "none"; // Ocultar el contenedor del botón
        });
    });
</script>
{% endblock %}